<h2 class="question">Are you looking for breakfast, lunch, or dinner?</h2>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted green;">
  <%= f.label :breakfast %>
  <%= f.check_box :breakfast %>
</div>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted blue;">
  <%= f.label :lunch %>
  <%= f.check_box :lunch %>
</div>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted red;">
  <%= f.label :dinner %>
  <%= f.check_box :dinner %>
</div>
