<h2 class="question">What's your budget?</h2>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted blue;">
  <%= f.label :under_10_a_plate %>
  <%= f.check_box :lowPrice %>
</div>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted green;">
  <%= f.label :under_15_a_plate %>
  <%= f.check_box :medPrice %>
</div>
<div class="col-md-4 col-sm-4 answer" style="height:50vh; border: 1px dotted red;">
  <%= f.label :over_15_a_plate %>
  <%= f.check_box :highprice %>
</div>
